*{
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 85% 15% ;
    justify-items: start;
    align-items: center;
    background-color: orange;
    color: black;
    font-weight: bold;
}

.logo{
    display: inline;
    margin-left: 10px;
}

.barra-de-busca{
    display: inline;
    margin-right: 30px;
}

.principal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.imagens{
    max-width: 200px;
}

.card{
    border-width: 5px;
    border-color: aquamarine;
    margin: 10px;
}

main > div > a{
    text-decoration: none;
}

footer{
    display: grid;
    justify-items: start;
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: rgb(44, 44, 44);
    bottom: 0;
    color: white;
    
}

h2{
    margin: 10px;
}